

:root {
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --accent-color:#2196F3;
    --passive-color-button:#F5F4FA;
}

body {

    color: var(--primary-text-color);
    background-color: #ffffff;
    font-family: roboto, sans-serif;
    letter-spacing: 0.03em;
} 

.list {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: block;
}

a {
    text-decoration: none;
}

/* all sections */

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/* h2 */
.section-title-block {
    margin-top: 0px;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color)
}


            /* **********START DECORATION****** */

                         /* general container */

    .container {

   width: 1200px;
   margin: auto;
   padding-left: 15px;
   padding-right: 15px;

    }

    .header-container {

    display: flex;
    align-items: center;
    
    }

    .container .nav {

    display: flex;
   
    }
    .border-up {
    border-bottom: 1px solid #ECECEC;
    }
    .contacts {

    display: flex;
    margin-left: auto;
    }


        
    
                    /* Container Footer */





.footer-container {
        width: 1200px;
        margin: auto;
        padding-left: 15px;
        padding-right: 15px;
    
}



                    /* Logo */

.logo-web {
    color: var(--accent-color);
    cursor: default;
    display: flex;}

.logo-studio {
    color: #000000;
    cursor: default;
    display: flex;}

.full-logo :focus{
    color: var(--accent-color);
    text-decoration: none;
    cursor: default;
    display: flex;}

.full-logo {
    font-family: Raleway, sans-serif;
       
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    display: flex;}

.full-logo {
    cursor: default; 
    align-items: center;
    margin-right: 93px;
    padding-top: 23px;
    padding-bottom: 25px;
}




                    /* Site Nav */





.site-nav{

    display: flex;
    
}

.site-nav .link{
        padding-top: 31px;
        padding-bottom: 32px;
        display: block;
}

.site-nav .item{
    margin-right: 50px;
}

.site-nav .item:last-child{
    margin-right: 0;
}
.site-nav .link {
        color: var(--title-text-color);

        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
    
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
    cursor: default;
}


.auth-nav {
    display: flex;
   
}
.auth-nav .item + .item {
    margin-left: 50px;
}

    .auth-nav .link {
        padding-top: 31px;
        padding-bottom: 32px;
        display: block;
    }

    .auth-nav .item:last-child {
    margin-right: 0;}


    .auth-nav a {
    color: var(--primary-text-color);
    text-decoration: none;
    cursor: default;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    }

    .auth-nav .link:hover,
    .auth-nav .link:focus {
    color: var(--accent-color);
    cursor: default;

    }




                       /* Main */

                        /* HERO */


 .hero{

    background-color: #2F303A;
    text-align: center;
 }

    .hero-title{
        color: #fff;
        margin-top: 0px;
        margin-bottom: 30px;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        
    }

    .hero {

    padding-top: 200px;
    padding-bottom: 200px;

    }

                    /* Hero Button */



 .hero-button{

    display:inline-block;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;
    margin-bottom: 0px;

    text-align: center;
    color:#fff;
    background-color:#2196F3 ;
    cursor: pointer;
    font-family: inherit;
    border: transparent;
    outline: none;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    
    }



                    /* Section_About */





 .section-title-about  {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10;
    color: var(--title-text-color)
    
 }
    .about-style {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

 .list .items {
    width: 270px;
    margin-bottom: 0px;

 }

 .container .list {
    display: flex;
    justify-content: space-between;
 }





                /* What We Do  */





 .container .list{
    
    display: flex;
    justify-content: space-between;
 }
 




                /* Our Team  */





 .team-title {
     font-weight: 500;
     font-size: 16px;
     line-height: 1.18;
     letter-spacing: 0.03em;
     text-align: center;
     margin:0px;
     color:var(--title-text-color)
     
 }

 .section-subscribe {

        font-weight: 400;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
        margin: 0px;
        margin-top: 10px;
    }

 .our-team {
    background-color: #F5F4FA;


 }

 .team-cards {
    background-color: #FFFFFF;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ECECEC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px 0px #757575;
 }





                /* Footer */





 .full-logo-footer:focus {
    color: var(--accent-color);
    text-decoration: none;
    cursor: default;
    display: flex;
 }

 .full-logo-footer{
    font-family: Raleway, sans-serif;

    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    display: flex;
 }

 .full-logo-footer {
    cursor: default;
    align-items: center;
    padding-top: 23px;
    padding-bottom: 25px;
 }


 .address {
    font-style: normal;
    
 }

 .footer-nav .link {
    text-decoration: none;
 }
 .footer-nav .link {
    color: var(--primary-text-color);
    cursor: default;
 }

 .footer-nav .link:hover,
 .footer-nav .link:focus {
    color: var(--accent-color);
    cursor: default;
 }


 .footer-nav .footer-adress {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: #FFFFFF;
 }

 .footer-link{
    text-decoration: none;
 }

 .footer-link {
    color: var(--primary-text-color);
    cursor: default;
 }
 
 .footer-nav .footer-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
 }
 .footer{
    background-color: #2F303A;
 }

 .logo-studio-footer {
    color: #fff;
 }



 
                /* Portfolio_Page_CSS */




 .filter-buttons button {
        border: transparent;
        outline: none;
        text-align: center;
        display: inline-block;
        border-radius: 4px;
        min-width: 73 px;
        padding:6px 22px ;
        font-family: inherit;
        font-size: 16px;
        line-height: 1.6;
        letter-spacing: 0.03em;
    
}


 .filter-buttons button{
    cursor: pointer;
 }
 .filter-buttons button,

 .filter-buttons button :focus {
    background-color: #F5F4FA;
 }

 .filter-buttons :hover {
    color: var(--accent-color)
 }

 .filter-buttons button:hover {
    color: #fff;
    background-color: #2196F3;
 }

 .our-projects p{
       
        line-height: 1.87;
        letter-spacing: 0.03em;
 }

                       /* buttons */



 .filter-buttons .list{
    display: flex;
    justify-content: center;
 }

 .list .buttons {
    margin-right: 8px;
 }

 .list .buttons:last-child{
    margin-right: 0px;
 }

 .but {
    margin-top: 94px;
    margin-bottom: 50px;
 }

                       /* pictures  */


 .pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
 }
 

 .section-titles-portfolio{

        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: var(--title-text-color);
        margin: 0px;
 }

 .subscribing-text{

        font-weight: 400;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
        margin: 0px;
 }



 .portfolio-pic {
  
    padding-bottom: 30px;
    padding-top: 30px;
    border-right: 1px solid #ECECEC;
    border-left: 1px solid #ECECEC;
    border-bottom: 1px solid #ECECEC;

 } 

