

:root {
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --accent-color:#2196F3;
    --passive-color-button:#F5F4FA;
}

body {

    color: var(--primary-text-color);
    background-color: #ffffff;
    font-family: roboto, sans-serif;
    letter-spacing: 0.03em;
} 
.list {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: block;
}

a {
    text-decoration: none;
}
.subscribing-text {
    color: var(--primary-text-color)
}

.section-title {

    color: var(--title-text-color)
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-title-block {
    margin-top: 0px;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color)
}




/* general container */
.container {

   width: 1200px;
   margin: auto;
   padding-left: 15px;
   padding-right: 15px;
  
   
}

/* container Header */
.container-nav .main {
    display: flex;

}

.container-nav {

    width: 1200px;
    margin: auto;
}


.container-heder {
    width: 1200px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid #ECECEC;
    display: flex;
    align-items: center;
}

/* container section_about */
.container-about .list{
    width: 1200px;
    display: flex;
    justify-content: space-between;

}

/* container what we do */

.container-what-we-do .list{
        width: 1200px;
       
        
       
        
}

/* container out team  */
.container-our-team .list{
        width: 1200px;
        display: flex;
        justify-content: space-between;
        
        
    }
/* container footer */

.footer-container {
        width: 1200px;
        margin: auto;
        padding-left: 15px;
        padding-right: 15px;
    
}



/* logo */

.logo-web {
    color: var(--accent-color);
    cursor: default;
    display: flex;}

.logo-studio {
    color: #000000;
    cursor: default;
    display: flex;}

.full-logo :focus{
    color: var(--accent-color);
    text-decoration: none;
    cursor: default;
    display: flex;}

.full-logo {
    font-family: Raleway, sans-serif;
       
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    display: flex;}

.full-logo {
    cursor: default; 
    align-items: center;
    margin-right: 93px;
    padding-top: 23px;
    padding-bottom: 25px;
}

/* site nav */

.site-nav{

    display: flex;
    
}

.site-nav .link{
        padding-top: 31px;
        padding-bottom: 32px;
        display: block;
}

.site-nav .item{
    margin-right: 50px;
}

.site-nav .item:last-child{
    margin-right: 0;
}
.site-nav .link {
        color: var(--title-text-color);

        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
    
}

.auth-nav .item + .item {
    margin-left: 50px;
}

.auth-nav .link {
        padding-top: 31px;
        padding-bottom: 32px;
        display: block;
}
.site-nav .link:hover,
.site-nav .link:focus {
   color: var(--accent-color) ;
    cursor: default;
 
}
.auth-nav a{
        color: var(--primary-text-color);
        text-decoration: none;
        cursor: default;

        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
}
.auth-nav .link:hover,
.auth-nav .link:focus {
    color: var(--accent-color);
    cursor: default;
       /* color: rgba(red, green, blue, alpha); */
}

.auth-nav {
    display: block;
    display: flex;
    margin-left: auto;
}

/* main */

/* hero */
.hero{
    background-color: #2F303A;
    text-align: center;
}

.hero-title{
        color: #fff;
        margin-top: 0px;
        margin-bottom: 30px;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        
}
/* hero button */
.hero-button{
    display:inline-block;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;
    margin-bottom: 0px;

    text-align: center;
    color:#fff;
    background-color:#2196F3 ;
    cursor: pointer;
    font-family: inherit;
    border: transparent;
    outline: none;

        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.06em;
    
    }

/* section_about */


.section {
        margin-bottom: 0px;
        margin-top: 0px;
}


.section p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;    

}
.section-title  {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10;
    
}

.section .list {
    display: flex;    
    }


      
.list .items {
    width: 270px;
    margin-bottom: 0px;
    

}

/* what we do  */


.what-we-do .list{
    margin-left: 0px;
    display: flex;
    justify-content: space-between;
}
 
 /* our team  */
section .our-team{ 
    
}

 .team-title {
     font-weight: 500;
     font-size: 16px;
     line-height: 1.18;
     letter-spacing: 0.03em;
     color: #212121;
 }

 .section-subscribe {
     line-height: 1.18;
     letter-spacing: 0.03em;
    }

.our-team {
    background-color: #F5F4FA;

}


/* footer */

.full-logo-footer:focus {
    color: var(--accent-color);
    text-decoration: none;
    cursor: default;
    display: flex;
}

.full-logo-footer{
    font-family: Raleway, sans-serif;

    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    display: flex;
}

.full-logo-footer {
    cursor: default;
    align-items: center;
    padding-top: 23px;
    padding-bottom: 25px;
}


.address {
    font-style: normal;
    
}

.footer-nav .link {
    text-decoration: none;
}
.footer-nav .link {
    color: var(--primary-text-color);
    cursor: default;
}

.footer-nav .link:hover,
.footer-nav .link:focus {
    color: var(--accent-color);
    cursor: default;
}


.footer-nav .footer-adress {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: #FFFFFF;
}

.footer-link{
    text-decoration: none;
}

.footer-link {
    color: var(--primary-text-color);
    cursor: default;
}

.footer-nav .footer-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.footer{
    background-color: #2F303A;
}

.logo-studio-footer {
    color: #fff;
}

/* portfolio_page_css  */

.filter-buttons button {
        border: transparent;
        outline: none;
        text-align: center;
        display: inline-block;
        border-radius: 4px;
        min-width: 73 px;
        padding:6px 22px ;
        font-family: inherit;
        font-size: 16px;
        line-height: 1.6;
        letter-spacing: 0.03em;
    
}

.filter-buttons button{
    cursor: pointer;
}
.filter-buttons button,

.filter-buttons button :focus {
    background-color: #F5F4FA;
}

.filter-buttons :hover {
    color: var(--accent-color)
}

.filter-buttons button:hover {
    color: #fff;
    background-color: #2196F3;
}

.list h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;}

.our-projects p{
       
        line-height: 1.87;
        letter-spacing: 0.03em;
}

/* buttons */
.filter-buttons .list{
    display: flex;
    justify-content: center;
}

.list .buttons {

    margin-right: 8px;
}

.list .buttons:last-child{
    margin-right: 0px;
}


/* pictures  */

.our-projects .list {
 
    display: flex;
        flex-wrap: wrap;
        /* justify-content: space-between; */
        margin-right: 30px;
}

.list .pictures:nth-child(2){
  /* background-color: orange; */
padding-left: 30px;
    padding-right: 30px;
     }
.list .pictures:nth-child(5) {
    /* background-color: orange; */
    padding-left: 30px;
        padding-right: 30px;
    }
.list .pictures:nth-child(8) {
     /* background-color: orange; */
     padding-left:30px ;
     padding-right: 30px;
    }